modules = ["python-3.12", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["c-ares", "freetype", "grpc", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "openssl", "pkg-config", "swig", "xcbuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Replit Frontend"

[[workflows.workflow]]
name = "Replit Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 30011
externalPort = 3000

[[ports]]
localPort = 38881
externalPort = 3001

[deployment]
deploymentTarget = "vm"
run = ["python", "-m", "run"]
